#banner-text {
	position: absolute;
	top: 15vw;
	font-size: 5vw !important;
	color: white;
	left: 10vw;
	right: 10vw;
	font-weight: bolder;
	text-shadow: 0px 0px 5px white;
}

#banner-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 33.33vw;
	max-width: 100%;
	z-index: -1;
	filter: brightness(60%)
}

#banner-container {
	background: #fff;
}
