#banner-container {
  margin-bottom: 100px;
}

#first-image {
  margin-left: 20px;
  width: 250px;;
  height: auto;
  align-self: center;
}

#second-image {
  max-width: 50%;
}

#category-image {
  max-width: 50%;
  border-radius: 20px;
  margin-bottom: 5px;
}

#checkmark {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

#category {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600px;
}

#bills {
  text-align: left;
}

.body-sections {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70em;
  margin-right: 50px;
}

.right-body {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 70em;
}

.right-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-image {
  flex-shrink: 2;
}

.right-category {
  flex-grow: 2
}

.recent-congressional-title {
  font-size: 18px;
}

.recent-congressional-body {
  font-size: 18px;
}

.core-question {
  font-style: italic;
  font-size: 20px;
}

.yes-no {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.yes {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70em;
  margin-right: 50px;
}

.no {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70em;
}

.pie-chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pie-percent {
  font-size: 50px;
  font-weight: bold;
}

.description-container {
  display: flex;
  flex-direction: row;
}

.description-paragraph {
  flex-shrink: 1.1;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poll-yes {
    display: block;
    color: green;
    font-size: 20px;
}


.poll-no {
  display: block;
  color: red;
  font-size: 20px;
  margin-left: 10px;
}

.poll-middle {
  display: block;
  color: blue;
  font-size: 20px;
  margin-left: 10px;
}

.bills {
  display: flex;
  flex-direction: row;
  text-align: left;
}


#issue-links a {
  color: #637899;
}

@media only screen and (max-width: 768px) {
  .description-container {
    display: block;
  }

  .body-sections {
    text-align: left;
    display: block;
  }

  .yes-no {
    display: block;
  }

  .pie-percent {
    font-size: 30px;
  }

}
